body {
    font-family: 'Cutive Mono', monospace;
}

.font--Kaushan {
    font-family: 'Kaushan Script', cursive;
}

.comments{
    &__input {
        height: 38px;
        line-height: 38px;
        box-sizing: border-box;
    }
}
@import  "./comments/_comments.scss";